$color-one: rgb(171, 175, 176);
$color-two: rgb(255, 171, 21);
$color-three: rgb(16, 26, 34);
$color-four: rgb(24, 40, 52);
$color-five: rgb(102, 175, 233);
$color-six: #fff;

*,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-one;
}

a:hover {
  text-decoration: none;
  color: $color-six;
}

li {
  list-style: none;
}

.text-center {
  text-align: center;
}

.mx-1 {
  margin: 1rem 0 1rem 0;
}

body {
  background-image: url(/Assets/Mirage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   height: 100vmin;
  color: $color-six;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.searchbox {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-input {
  width: 80%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: $color-four;
  border: none;
  //   margin: 1rem auto;
}

.search-input:focus {
  outline: none;
  //   outline: 0.1rem solid $color-five;
  box-shadow: 0 0 5px $color-five;
  border: 1px solid $color-five;
  transition: 0.6s ease-out;
}

.fa-search {
  height: 1rem;
  width: 1rem;
  color: $color-two;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.fa-search:hover {
  height: 1rem;
  width: 1rem;
  color: $color-six;
}

span {
  color: $color-one;
}

.prince-text {
  color: $color-two;
}

.img-one {
  display: flex;
  justify-content: center;
}

.film-title {
  font-weight: 400;
  font-size: 2rem;
  color: $color-two;
}

.film-year {
  color: $color-one;
  font-weight: 400;
  font-size: 1.3rem;
}

.language {
  background-color: $color-three;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}
