$color-one: rgb(171, 175, 176);
$color-two: rgb(255, 171, 21);
$color-three: rgb(16, 26, 34);
$color-four: rgb(24, 40, 52);
$color-five: rgb(102, 175, 233);
$color-six: #fff;

*,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-one;
}

a:hover {
  text-decoration: none;
  color: $color-six;
}

li {
  list-style: none;
}

body {
  background-image: url(/Assets/Mirage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   height: 100vmin;
  color: $color-six;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.search-input {
  width: 80%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: $color-four;
  border: none;
  margin: 1rem auto;
}

.fa-search {
  height: 1rem;
  width: 1rem;
  color: $color-two;
}

.fa-search:hover {
  height: 1rem;
  width: 1rem;
  color: $color-six;
}
