*,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #abafb0;
}

a:hover {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.text-center {
  text-align: center;
}

.mx-1 {
  margin: 1rem 0 1rem 0;
}

body {
  background-image: url(/Assets/Mirage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.search-input {
  width: 80%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #182834;
  border: none;
}

.search-input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #66afe9;
          box-shadow: 0 0 5px #66afe9;
  border: 1px solid #66afe9;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.fa-search {
  height: 1rem;
  width: 1rem;
  color: #ffab15;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.fa-search:hover {
  height: 1rem;
  width: 1rem;
  color: white;
}

span {
  color: #abafb0;
}

.prince-text {
  color: #ffab15;
}

.img-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.film-title {
  font-weight: 400;
  font-size: 2rem;
  color: #ffab15;
}

.film-year {
  color: #abafb0;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1.4rem 0 0.9rem 0;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.button-container .num-two {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-container .num-two .two {
  font-size: 1.4rem;
}

.button-container .button-section {
  width: 90%;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #101a22;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  color: #abafb0;
  border-bottom: 0.7 solid white;
}

.language .language-text {
  text-transform: uppercase;
}

.language .english {
  color: white;
}

.uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #101a22;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  color: #abafb0;
}

.uploader .uploader-text {
  text-transform: uppercase;
}

.uploader .youtoo {
  color: #ffab15;
}

.uploader .youtoo:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.prince-text {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

.btn-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-sub .btn-subtitle {
  padding: 0.6rem 1.9rem 0.6rem 1.9rem;
  border: none;
  text-transform: uppercase;
  color: #ffab15;
  background-color: #153648;
}

.btn-sub .btn-subtitle:hover {
  color: white;
  cursor: pointer;
}

.btn-sub .fa-chevron-down {
  color: #2b2f33;
}

.btn-sub .btn-subtitle:hover i {
  color: #0ab1e9;
}
/*# sourceMappingURL=main.css.map */